<html>
<body>
    <div>
        <style>
        div {position: fixed;
             top: 10%;
             left: 30%;
            }
        </style>
    
    <h1>Election finished</h1>
    <h2>The ID coordinator of this round is: {{ winner }}</h2>
    <h2>The ID port of the coordinator of this round is: {{ port_winner }}</h2>
    <p>Number of partecipants: {{ partecipants }}</p>    
    <p>Time elapsed in seconds: {{ timelapsed }}</p>
    <p>Total of bytes transferred: {{ totalsize }}</p>
    <p>Total of messages exchanged: {{ totalmessages }}</p>
    <p><a href="{{url_for('download')}}">Download log</a></p>
</div>    
</body>
</body>
</body>
</html>